@charset "utf-8";
/* CSS Document */
*{font-family: Arial, Helvetica, "Microsoft Yahei", sans-serif, sans-serif; box-sizing: content-box;}
html body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td, img, em, hr,select,button{margin: 0;padding: 0;-webkit-text-size-adjust: none; border:0 none;}
body {background: #fff;}
ul{ list-style:none;}
fieldset, img,input ,button{ border:0; }
ol, ul { list-style:none; }
input, button, select, textarea ,a { outline:none; } 
textarea { resize:none; } 
input,button{outline:none;}
.check_btn{ vertical-align:-2px;}
a{text-decoration:none;}
.clear{ clear:both;}
button,.btn{ cursor:pointer;}
.btn:hover{}
#wrapper{background:#fff;}
h1 a{ display: block;height: 0;width: 0;overflow: hidden;}

#content{ background:#FFF; margin-left:15px; position:relative;overflow:hidden;}
.content_wrap{ width:842px; height:858px; border:1px solid #e7e7e7; border-top:none; overflow:hidden;}
#yjzx_jqyj_1 h2{ height:47px; width:792px; background:url(../images/icon_nav.png) #299be4 25px -624px no-repeat; color:#fff;font-weight:normal; font-size:14px; line-height:47px; padding-left:50px;  }
#yjzx_jqyj_1 h3{color:#333; font-size:14px; padding-top:21px; padding-left:35px; padding-bottom:15px;}
#yjzx_jqyj_1 .box{ width:818px; margin:0 auto; border-bottom:1px solid #e7e7e7; padding-bottom:8px; font-size:12px; color:#888;}
#yjzx_jqyj_1 .box input,.box select{ height:19px; font-size:12px; color:#888; border:1px solid #e1e1e1;}
#yjzx_jqyj_1 .box1{}
#yjzx_jqyj_1 .box1 ul{ padding-left:50px;}
#yjzx_jqyj_1 .box1 ul li{ float:left; margin-bottom:25px;}
#yjzx_jqyj_1 .box1 ul li a{ display:inline-block; width:66px; line-height:19px;}
#yjzx_jqyj_1 .box1 ul li a.class{ margin-left:75px;}
#yjzx_jqyj_1 .box1 ul li select{ width:127px; height:21px; line-height:19px; }
#yjzx_jqyj_1 .box1 .addtestname{ font-size:12px; color:#299be4; cursor:pointer; margin-left:5px;}
#yjzx_jqyj_1 .box1 .addtestname:hover{ text-decoration:underline;}
#yjzx_jqyj_1 .box2{}
#yjzx_jqyj_1 .box2 ul{ padding-left:50px;}
#yjzx_jqyj_1 .box2 ul li{ margin-bottom:11px;}
#yjzx_jqyj_1 .box2 ul li a{ display:inline-block; width:66px; line-height:19px;}
#yjzx_jqyj_1 .box2 ul li input.name{ width:140px;line-height:19px;}
#yjzx_jqyj_1 .box2 ul li input.small{ width:45px;line-height:19px;}
#yjzx_jqyj_1 .box2 ul li input.radio{ vertical-align:-5px; margin-left:40px; border:none 0;vertical-align:-8px\9; *vertical-align:-3px; }
#yjzx_jqyj_1 .box2 ul li input.checkbox{vertical-align:-5px; margin-right:3px; border:none 0; vertical-align:middle; }
#yjzx_jqyj_1 .box2 ul li.right{ margin-left:184px;}
#yjzx_jqyj_1 .box3{}
#yjzx_jqyj_1 .box3 p{ padding-left:50px; margin-bottom:19px;}
#yjzx_jqyj_1 .box3 p span{ padding:0 45px;}
#yjzx_jqyj_1 .box3 p span.two{ padding-left:117px;}
#yjzx_jqyj_1 .box3 p a{ text-decoration:underline; margin-left:10px; color:#299be4;}
#yjzx_jqyj_1 button.next{ width:108px; height:36px; background:#ff6e00; font-size:14px; text-align:center; line-height:36px; color:#fff; border-radius:5px; margin-top:40px; margin-left:284px;}
#yjzx_jqyj_1 button.next:hover{ background:#c75c0c; }
#yjzx_jqyj_1 .addExamInformation{ position:absolute; width:313px; height:281px; border:1px solid #d6d6d6; border-radius:5px; top:200px; left:223px; background:#fff; overflow:hidden;}
#yjzx_jqyj_1 .addExamInformation h4{ background:#299be4; width:100%; height:49px; color:#fff; font-size:12px; line-height:49px; padding-left:15px;}
#yjzx_jqyj_1 .addExamInformation h4 .exit{ cursor:pointer;width:20px; height:20px; background:#f00; float:right; margin-top:13px; margin-right:31px;background:url(../images/icon_nav.png) no-repeat 0 -683px; *margin-top:-33px;}
#yjzx_jqyj_1 .addExamInformation ul{ padding-top:13px;}
#yjzx_jqyj_1 .addExamInformation ul li{ color:#888; font-size:12px; padding-left:45px; margin-top:10px;}
#yjzx_jqyj_1 .addExamInformation ul li input{width:126px; height:16px; font-size:12px; color:#888; border:1px solid #e1e1e1; vertical-align:middle; line-height:16px;}
#yjzx_jqyj_1 .addExamInformation button{}
#yjzx_jqyj_1 .addExamInformation button{ vertical-align:middle; width:74px; height:20px; border:1px solid #d4d4d4; border-radius:2px; color:#666666; font-size:12px; margin-left:42px;margin-top:22px; line-height:20px;}
#yjzx_jqyj_1 .addExamInformation button:hover{ color:#40bff4; border:1px solid #40bff4;}
#yjzx_jqyj_2 h2{ height:47px; width:792px; background:url(../images/icon_nav.png) #299be4 25px -624px no-repeat; color:#fff;font-weight:normal; font-size:14px; line-height:47px; padding-left:50px;  }
#yjzx_jqyj_2 h3{color:#333; font-size:14px; padding-top:21px; padding-left:35px; padding-bottom:10px;}
#yjzx_jqyj_2 .tip{ font-size:12px; color:#888; padding-bottom:10px; padding-left:52px;}
#yjzx_jqyj_2 .totalSet{ overflow:hidden; width:720px; height:127px; border:1px solid #e5e6e7; margin-left:55px;}
#yjzx_jqyj_2 .totalSet h4{ background:#f2f2f2; width:100%; height:38px; font-size:12px; color:#737373; padding-left:18px; line-height:38px; margin-bottom:28px;}
#yjzx_jqyj_2 .totalSet a{ font-size:12px; color:#737373; padding-left:60px; line-height:20px; vertical-align:middle;}
#yjzx_jqyj_2 .totalSet input{ width:92px; height:21px; font-size:12px; color:#888; border:1px solid #e1e1e1; vertical-align:middle; line-height:22px;}
#yjzx_jqyj_2 .topicSet{ margin-top:23px; overflow:hidden; width:720px; height:127px; border:1px solid #e5e6e7; margin-left:55px;}
#yjzx_jqyj_2 .topicSet h4{ background:#f2f2f2; width:100%; height:38px; font-size:12px; color:#737373; padding-left:18px; line-height:38px; margin-bottom:20px;}
#yjzx_jqyj_2 .topicSet .left{ float:left;font-size:12px; color:#737373;}
#yjzx_jqyj_2 .topicSet .left input.small{width:43px; height:15px; font-size:12px; color:#888; border:1px solid #e1e1e1; margin:0 3px;}
#yjzx_jqyj_2 .topicSet .left input.radio{ vertical-align:-2px;vertical-align:-4px\9; margin-left:45px; margin-right:3px;}
#yjzx_jqyj_2 .topicSet .right{ float:right; width:77px; margin-right:20px;}
#yjzx_jqyj_2 .topicSet .right button{width:75px; height:18px; border:1px solid #999999; border-radius:5px; color:#666666; font-size:12px;line-height:18px; line-height:20px\0; margin-bottom:13px; background:#fff;} 
#yjzx_jqyj_2 .topicSet .right button:hover{ color:#40bff4; border:1px solid #40bff4;}
#yjzx_jqyj_2 .standardAnswer{ display:none; margin-top:30px; width:720px;border:1px solid #e5e6e7; margin-left:55px;overflow:hidden;}
#yjzx_jqyj_2 .standardAnswer  caption{ height:40px; background:#299be4; text-align:left; font-weight:bold; font-size:16px; color:#fff; padding-left:18px; line-height:40px;}
#yjzx_jqyj_2 .standardAnswer  table{width:100%; border-collapse:collapse;text-align:center;}
#yjzx_jqyj_2 .standardAnswer  th{border:1px solid #e5e6e7; height:40px; color:#333; font-size:12px; font-weight:normal; background:#fff;}
#yjzx_jqyj_2 .standardAnswer tr{ background:#fff;}
#yjzx_jqyj_2 .standardAnswer  td{ height:40px;color:#888; font-size:12px;border:1px solid #e5e6e7; } 
#yjzx_jqyj_2 .standardAnswer  td a{ font-size:12px; color:#019bfe; margin:0 15px;cursor:pointer;}
#yjzx_jqyj_2 .standardAnswer  td a:hover{ text-decoration:underline;}
#yjzx_jqyj_2 button.nextStep,#yjzx_jqyj_2 .save_btn{ width:108px; height:36px; background:#ff6e00; font-size:14px; text-align:center; line-height:36px; color:#fff; border-radius:5px; margin-top:40px; margin-left:334px;}
#yjzx_jqyj_2 button.nextStep:hover,#yjzx_jqyj_2 .save_btn:hover{ background:#c75c0c; }
#yjzx_jqyj_2 button.nextStep{ display:none; margin-top:10px;}
#yjzx_jqyj_3 h2{ height:47px; width:792px; background:url(../images/icon_nav.png) #299be4 25px -624px no-repeat; color:#fff;font-weight:normal; font-size:14px; line-height:47px; padding-left:50px;  }
#yjzx_jqyj_3 h3{color:#333; font-size:14px; padding-top:21px; padding-left:35px; padding-bottom:10px;}
#yjzx_jqyj_3 .tip{ font-size:12px; color:#888; padding-bottom:10px; padding-left:52px;}
#yjzx_jqyj_3 .readCard{ overflow:hidden; width:720px; height:127px; border:1px solid #e5e6e7; margin-left:55px;}
#yjzx_jqyj_3 .readCard h4{ background:#f2f2f2; width:100%; height:38px; font-size:12px; color:#737373; padding-left:18px; line-height:38px; margin-bottom:28px;}
#yjzx_jqyj_3 .readCard a{ font-size:12px; color:#737373; line-height:20px; vertical-align:middle;}
#yjzx_jqyj_3 .readCard .subjectiveScore{ padding-left:98px;}
#yjzx_jqyj_3 .readCard input.txt{ width:92px; height:21px; font-size:12px; color:#888; border:1px solid #e1e1e1; vertical-align:middle; line-height:22px;}
#yjzx_jqyj_3 .readCard input.checkbox{vertical-align:-5px; margin-right:3px; border:none 0; vertical-align:middle; *vertical-align:-2px; margin-left:66px; }
#yjzx_jqyj_3 .standardAnswer{ display:none; margin-top:30px; width:720px;border:1px solid #e5e6e7; margin-left:55px;overflow:hidden;}
#yjzx_jqyj_3 .standardAnswer  caption{ height:40px; background:#299be4; text-align:left; font-weight:bold; font-size:16px; color:#fff; padding-left:18px; line-height:40px;}
#yjzx_jqyj_3 .standardAnswer  table{width:100%; border-collapse:collapse;text-align:center;}
#yjzx_jqyj_3 .standardAnswer  th{border:1px solid #e5e6e7; height:40px; color:#333; font-size:12px; font-weight:normal; background:#fff;}
#yjzx_jqyj_3 .standardAnswer tr{ background:#fff;}
#yjzx_jqyj_3 .standardAnswer  td{ height:40px;color:#888; font-size:12px;border:1px solid #e5e6e7; } 
#yjzx_jqyj_3 .standardAnswer  td a{ font-size:12px; color:#019bfe; margin:0 15px;cursor:pointer;}
#yjzx_jqyj_3 .standardAnswer  td a:hover{ text-decoration:underline;}
#yjzx_jqyj_3 button.startRead_btn{ width:108px; height:36px; background:#ff6e00; font-size:14px; text-align:center; line-height:36px; color:#fff; border-radius:5px; margin-top:40px; margin-left:334px;}
#yjzx_jqyj_3 button.startRead_btn:hover{ background:#c75c0c; }